<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="设置" serializeAs="String">
                <value />
            </setting>
            <setting name="特征图像aruco码位置" serializeAs="String">
                <value>E:\5graduateproject\5.2re\test3\WindowsFormsApp1\images\aruco15.png</value>
            </setting>
            <setting name="log文件保存位置" serializeAs="String">
                <value>E:\5graduateproject\5.2re\test3\WindowsFormsApp1\images\log.txt</value>
            </setting>
            <setting name="gray图片文件夹" serializeAs="String">
                <value>E:\5graduateproject\5.2re\test3\pyCalibration\data\240415\captured\position_00a</value>
            </setting>
            <setting name="camsizew" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="camsizeh" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="prosizew" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="prosizeh" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="预投影画面长度" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="预投影画面高度" serializeAs="String">
                <value>600</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>